body {
    background-color: #fefae0;
    text-align: center;
}

img {
    width: 20vw;
    max-width: 25vw;
    max-height: 25vw;
}

a {
    text-decoration: none;
    color: #283618;
}

h1 {
    color: #606C38;
}

h2 {
    color: #606C38;
}

h3 {
    color: #283618;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background: #BC6C25;
    width: 500px;
    justify-self: center;
    align-self: center;
}

.cat-detail-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDA15E;
    padding: 10px;
    margin: 5px;
    width: 480px;
}

/* .cat-image {
    justify-self: left;
}

.cat-link {
    justify-self: right;
} */