body {
    background-color: #fefae0;
    text-align: center;
}

ul {
    margin: 0;
}

img {
    width: 20vw;
    max-width: 25vw;
    max-height: 25vw;
}

a {
    text-decoration: none;
    color: #283618;
}

/* h1 {
    color: #606C38;
} */

h2 {
    color: #606C38;
}

h3 {
    color: #283618;
}

.cat-container {
    background: #BC6C25;
    max-width: 50vw;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    background-color: #DDA15E;
    padding: 10px;
    margin: 10px;
    margin-left: -30px;
    width: 45vw;
}

.cat-image {
    justify-self: left;
}

.cat-link {
    text-align: right;
}
