@font-face {
    font-family: 'butterpop';
    src: url(/app/static/fonts/butterpop-webfont.woff) format('woff');
    src: url(/app/static/fonts/butterpop-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'coolvetica';
    src: url(/app/static/fonts/coolvetica_rg-webfont.woff) format('woff');
    src: url(/app/static/fonts/coolvetica_rg-webfont.woff2) format('woff2');
}

@font-face {
    font-family: 'sunny weather';
    src: url(/app/static/fonts/sunny_weather_demo-webfont.woff) format('woff');
    src: url(/app/static/fonts/sunny_weather_demo-webfont.woff2) format('woff2');
}

body {
    background-color: #fefae0;
    text-align: center;
}

p {
    font-family: 'sunny weather';
    font-size: 25px;
    color: #283618;
}

a {
    font-family: 'coolvetica';
    text-decoration: none;
    color: #BC6C25;
}

h1 {
    font-family: 'butterpop';
    color: #606C38;
}

h2 {
    font-family: 'butterpop';
    color: #606C38;
}

h3 {
    font-family: 'butterpop';
    color: #283618;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    background: #BC6C25;
    width: 500px;
    justify-self: center;
    align-self: center;
    border: none;
    border-radius: 5px;
}

.cat-detail-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #DDA15E;
    padding: 10px;
    margin: 5px;
    width: 480px;
    border: none;
    border-radius: 5px;
}

.cat-image {
    width: 230px;
    max-width: fit-content;
    height: auto;
    border: 5px ridge #606C38;
    border-radius: 5px;
}

/* .cat-link {
    justify-self: right;
} */

/* .image-backdrop {
    display: inline-flex;
    background-color: #BC6C25;
    padding: 10px;
    border-radius: 5px;
} */

.big-cat-image {
    width: 40vw;
    max-width: 500px;
    align-items: center;
    border: 10px ridge #606C38;
    border-radius: 5px;
}

/* .cat-info-page p {
    font-size: 25px;
} */

button {
    font-family: 'coolvetica';
    cursor: pointer;
    background-color: #DDA15E;
    color: #606C38;
    border-style: solid;
    border-color: #606C38;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.button-link {
    display: inline-block;
    cursor: pointer;
    background-color: #BC6C25;
    color: #fefae0;
    border-style: solid;
    border-color: #DDA15E;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

input[type="file"] {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.choose-file-button {
    display: flex;
    text-align: center;
    justify-self: center;
    align-items: center;
    font-family: 'coolvetica';
    color: #283618;
    margin-bottom: 15px;
    /* gap: 10px; */
}

.custom-file-label {
    font-family: 'coolvetica';
    cursor: pointer;
    text-align: center;
    background-color: #BC6C25;
    color: #fefae0;
    border-style: solid;
    border-color: #DDA15E;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
}

.login-signup-container {
    display: flex;
    flex-direction: column;
    width: 20vw;
    justify-self: center;
    justify-content: center;
    align-items: center;
    font-family: 'sunny weather';
    font-size: 20px;
    color: #283618;
    background-color: #BC6C25;
    border: 5px solid #DDA15E;
    border-radius: 5px;
    padding: 10px
}

.login-signup-container div {
    margin: 5px;
}

.login-signup-container button {
    width: max-content;
}

form li {
    list-style-type: none;
    margin-left: -20px;
    font-family: 'coolvetica';
}

form input, form select, form textarea {
    font-family: 'coolvetica';
    color: #283618;
    background-color: #fefae0;
}

form .helptext {
    display: none;
}

form fieldset {
    border: 3px solid #DDA15E;
}

form fieldset legend[for="id_image"] {
    display: none;
}