body {
    background-color: #fefae0;
    text-align: center;
}

ul {
    margin: 0;
}

li {
    list-style-type: none;
    background-color: #DDA15E;
    padding: 10px;
    margin: 10px;
}

img {
    width: 20vw;
    max-width: 25vw;
    max-height: 25vw;
}

a {
    text-decoration: none;
    color: #283618;
}

h1 {
    color: #606C38;
}

.cat-container {
    background: #BC6C25;
    display: flex;
    max-width: 50vw;
    justify-self: center;
}

/* .cat-image {
    justify-self: left;
}

.cat-link {
    justify-self: right;
} */