{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Hi {{ user.username }}!</h1>
<a href="{% url 'profile' %}">View Profile</a>
<form action="{% url 'logout' %}" method="post">
  {% csrf_token %}
  <button type="submit">Log Out</button>
</form>

<h2>Cat Listings</h2>
<div class="cat-container">
    <ul>
        {% for cat in cats %}
            <li>
                <img src="{{ cat.image.url }}" class="cat-image">
                <a href="{% url 'cat_details' cat.name %}" class="cat-link">
                {{ cat.name }} - {{ cat.age }} - {{ cat.gender }} - {{ cat.breed }}
                </a>
            </li>
        {% endfor %}
    </ul>
</div>

{% else %}

<p>You are not logged in</p>
<a href="{% url 'login' %}">Log In</a>
<a href="{% url 'signup' %}">Sign Up</a>

{% endif %}

{% endblock %}