{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}

<h1 class="title-header">Cat Adoption Agency</h1>

{% if user.is_authenticated %}

<h1>Hi {{ user.username }}!</h1>
<div class="button-container">
    <a href="{% url 'profile' %}" class="button-link">View Profile</a>
    <form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <button type="submit">Log Out</button>
    </form>
</div>

<h2>Cat Listings</h2>
<div class="cat-container">
    {% if cats %}
        {% for cat in cats %}
            <div class="cat-detail-container">
                <img src="{{ cat.image.url }}" class="cat-image">
                <a href="{% url 'cat_details' cat.name %}" class="cat-link">
                {{ cat.name }} - {{ cat.age }} - {{ cat.gender }} - {{ cat.breed }}
                </a>
            </div>
        {% endfor %}
    {% else %}
        <p>There are no cats available!</p>
    {% endif %}
</div>

{% else %}

<p>You are not logged in.</p>
<div class="button-container">
    <a href="{% url 'login' %}" class="button-link">Log In</a>
    <a href="{% url 'signup' %}" class="button-link">Sign Up</a>
</div>

{% endif %}

{% endblock %}